[submodule ".emacs.d/templates/competition"]
	path = .emacs.d/templates/competition
	url = https://github.com/ognis1205/competitive-programming-templates.git
[submodule ".emacs.d/site-lisp/leaf"]
	path = .emacs.d/site-lisp/leaf
	url = https://github.com/conao3/leaf.el.git
[submodule ".emacs.d/site-lisp/leaf-keywords"]
	path = .emacs.d/site-lisp/leaf-keywords
	url = https://github.com/conao3/leaf-keywords.el.git
